<div class="row example">
  <div class="well example-form">
    <button class="btn btn-success" {{action "runAdvance"}}>
      Play
      <div class="glyphicon glyphicon-play"></div>
    </button>
    <button class="btn btn-primary" {{action "run"}}>
      Run
      <div class="glyphicon glyphicon-record"></div>
    </button>
    <button class="btn btn-warning" {{action "advance" this}}>
      Skip
      <div class="glyphicon glyphicon-step-forward"></div>
    </button>
    <button class="btn btn-default" {{action "back" this}}>
      Prev
      <div class="glyphicon glyphicon-step-backward"></div>
    </button>
    <h3>Example {{index}}: {{description}}</h3>
    {{#each editableFields}}
      <div class="form-group">
        <label for="value">{{name}}</label>
        {{#if options}}
          {{view "select" content=options value=value class="form-control"}}
        {{else}}
          {{input value=value class="form-control"}}
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="well example-output">
    <h3>Result</h3>
    {{output}}
  </div>
</div>