<div id="posting-config" class="row">
  <div class="col-sm-4 form-group">
    <label for="host">Environment:</label>
    {{view Ember.Select content=environments
      optionValuePath="content.id"
      optionLabelPath="content.id"
      value=environment
      prompt="--- Please select a environment ---"
      class="form-control"
    }}
  </div>
  <div class="col-sm-4 form-group">
    <label for="scenario">Scenario:</label>
    {{view Ember.Select content=this
      optionLabelPath="content.name"
      optionValuePath="content.name"
      value=scenario
      prompt="--- Please select a scenario ---"
      class="form-control"}}
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary btn-lg btn-block" {{action "start"}}>Start</button>
  </div>
</div>

{{#if currentScenario}}
  <ul id="examples-nav" class="nav nav-pills nav-justified">
    {{#each currentScenario.examples}}
      {{#link-to (query-params example=index) tagName="li"}}<a>Example {{index}}</a>{{/link-to}}
    {{/each}}
  </ul>

  <div class="row example">
    <div class="well example-form">
      <button class="btn btn-primary" {{action "runExample"}}>Run</button>
      <h3>Example {{currentExample.index}}: {{currentExample.description}}</h3>
      {{#each currentExample.fields}}
        <div class="form-group">
          <label for="value">{{name}}</label>
          {{#if options}}
            {{view Ember.Select content=options value=value class="form-control"}}
          {{else}}
            {{input value=value class="form-control"}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="well example-output">
      <h3>Result</h3>
      {{#if currentExample}}
        {<br/>
          {{#each currentExample.fields}}
            &nbsp;&nbsp;&nbsp;&nbsp;{{name}}: {{value}}, <br/>
          {{/each}}
        }<br/>
      {{/if}}
    </div>
  </div>
{{/if}}